pandas==2.3.2
moviepy==1.0.3
reportlab==4.4.4
tqdm==4.67.1

--extra-index-url https://download.pytorch.org/whl/cu129
torch==2.8.0+cu129
torchvision==0.23.0+cu129
torchaudio==2.8.0+cu129

huggingface_hub==0.36.2
openai-whisper==20250625
speechbrain==1.0.3
k2==0.3.0
transformers==4.56.2
sentencepiece==0.2.1
soundfile==0.13.1
pyannote.audio==3.4.0
deepface==0.0.95
opencv-python==4.12.0.88
insightface==0.7.3
tf_keras==2.20.1
datasets==4.1.1
scikit-learn==1.7.2
librosa==0.11.0
accelerate==1.10.1
vaderSentiment==3.3.2
pysentimiento==0.7.3
yt-dlp
